fastapi
uvicorn
python-multipart
gunicorn
python-dotenv
nest-asyncio
python-pptx
chromadb
langchain
langchain-openai
langchain-community
openai
pydantic
python-docx
Pillow
requests
beautifulsoup4
llama-parse
llama-index
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.1+cpu
transformers
sentence-transformers
huggingface-hub 