fastapi
uvicorn
python-multipart
gunicorn
python-dotenv
nest-asyncio
python-pptx
chromadb
langchain
langchain-openai
langchain-community
langchain-huggingface
openai
pydantic
python-docx
Pillow
requests
beautifulsoup4
llama-parse
llama-index
transformers
torch
sentence-transformers
huggingface-hub 